@model ProjectManagement.Models.AboutModel

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@Model.Message</h3>
<div style="color: orange">
    <h3>@Model.Author</h3>
</div>

<body>
    <table border="1">
        <tr>
            <td>
                1
            </td>
            <td>
                2
            </td>
            <td>
                3
            </td>
        </tr>
        <tr>
            <td>
                11
            </td>
            <td>
                22
            </td>
            <td>
                33
            </td>
        </tr>
        <tr>
            <td>
                111
            </td>
            <td>
                222
            </td>
            <td>
                333
            </td>
        </tr>
    </table>
    <p>

    </p>
    <div>
        <p align="justify">
            MVC is one of the answer to the following question: How do you
            modularize the user interface functionality of a Web application so that
            you can easily modify the individual parts?
        </p>
    </div>
</body>
<p>Use this area to provide additional information.</p>
